---
import { resolveColor, translucent } from './utils';

interface Props {
	href?: string;
	color?: string;
}

const { href, color = 'accent' } = Astro.props;
const accent = resolveColor(color);
const style = `--theme:${accent};--theme-block:${translucent(accent, 12)};`;
---

{
	href ? (
		<a class="tag-plugin hashtag" href={href} style={style}>
			<span>#</span><span><slot /></span>
		</a>
	) : (
		<span class="tag-plugin hashtag" style={style}>
			<span>#</span><span><slot /></span>
		</span>
	)
}