---
interface Props {
	as?: 'p' | 'h1' | 'h2' | 'h3' | 'h4' | 'h5' | 'h6';
	prefix?: string;
	suffix?: string;
}

const { as = 'p', prefix, suffix } = Astro.props;
const Element = as;
---

<div class={`tag-plugin quot ${as}`}>
	<Element class="content">
		{prefix ? <span class="icon prefix">{prefix}</span> : <span class="empty"></span>}
		<span class="text"><slot /></span>
		{suffix ? <span class="icon suffix">{suffix}</span> : <span class="empty"></span>}
	</Element>
</div>