---
import { resolveColor, styleVars } from './utils';

interface Props {
	color?: string;
}

const { color = 'accent' } = Astro.props;
---

<span class="tag-inline underline" style={styleVars({ '--tag-color': resolveColor(color) })}><slot /></span>